# Environments
.env
.env.*
.env.local

# Next.js
.next/
node_modules/
out/
build/

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/
.pytest_cache/
reports_cache.db

# OS
.DS_Store
Thumbs.db
